{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'interviews' %}">Interviews</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add a Participant</li>
        </ol>
    </nav>
    <br>
    <form action="/participants/create/" method="POST">
        {% csrf_token %}
        <div class="form-group ">
            <label>Name</label>
            <input name="name" class="form-control" type="text" value="">
        </div>
        <div class="form-group ">
            <label>Email</label>
            <input name="email" class="form-control" type="email" value="">
        </div>
        <div class="form-group ">
            <label>Type</label>
            <input name="type" class="form-control" type="number" value="">
        </div>
        <button class="btn btn-primary" type="submit" value="Save">Save</button>
    </form>
{% endblock %}