{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'create_interview' %}">
        <div class="d-grid gap-2" style="text-align: right;">
            <button type="button" class="btn btn-primary">Add an Interview</button>
        </div>
    </a>
    <a href="{% url 'create_participant' %}">
        <div class="d-grid gap-2" style="text-align: left; float: left">
            <button type="button" class="btn btn-primary">Add a Participant</button>
        </div>
    </a>
    <h2>
        <center>Upcoming Interviews</center>
    </h2>
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Interviews</li>
        </ol>
    </nav>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Sr. Number</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Number of Participants</th>
            {#      <th scope="col">Participants</th>#}
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        {% for interview in interviews %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ interview.start_time }}</td>
                <td>{{ interview.end_time }}</td>
                <td>{{ interview.participants.count }}</td>
                <td><a href="{% url 'retrieve_interview' interview.id %}">Click Here</a></td>
                <td><a href="{% url 'update_interview' interview.id %}">Edit</a></td>
                {#                <td><a href="{% url 'delete_interview' interview.id %}">Delete</a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2>
        <center>Participants</center>
    </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Participant ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <th scope="row">{{ participant.id }}</th>
                <td>{{ participant.name }}</td>
                <td>{{ participant.email }}</td>
            {% if participant.type == 0 %}
                <td>Participant</td>
                {% else %}
                <td>Admin</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}