{% extends "base.html" %}
{% load rest_framework %}
{% block content %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'interviews' %}">Interviews</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update</li>
        </ol>
    </nav>
    <br>
    <form action="{% url 'update_interview' interview.id %}" method="post">
    {% csrf_token %}
        <div class="form-group ">
            <input name="id" type="hidden" value="{{ interview.id }}">
            <label>Start time</label>
            <input name="start_time" class="form-control" type="time" value={{ interview.start_time|time:'H:i' }}>
        </div>
        <div class="form-group ">
            <label>End time</label>
            <input name="end_time" class="form-control" type="time" value={{ interview.end_time|time:'H:i' }}>
        </div>
        <div class="form-group ">
            <label>
                Participants
            </label>
            <select multiple="" class="form-control" name="participants">
                {% for participant in participants %}
                    <option value="{{ participant.id }}">{{ participant.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit" value="Save">Update</button>
    </form>
    {% if message %}
        {#        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
        {#                Launch demo modal#}
        {#            </button>#}
        <!-- Modal -->
        <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             style="display: block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">A little problem there...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'update_interview' interview.id %}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

